NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_CDN_URL=http://localhost/minhafoundation.org

# Cloudflare Turnstile (free) setup
# Get Site Key and Secret Key from: https://dash.cloudflare.com/?to=/:account/turnstile
# Quick start docs: https://developers.cloudflare.com/turnstile/get-started/
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=


